


.container{
height: 99.99vh;
width: 99vw;
overflow-x: hidden;
display: flex;
align-items: center;
justify-content: center;

}

.title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

h1 {
  color: #1876f2;
  font-size: 1.5rem;
}
