
.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 
}

.login-wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
}

/* imgae and text */

.loginFormOne {
  
  margin-bottom: 60px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: var(--bg-secondary);
}
.loginFormOne img {
  margin-top: 15px;
  width: 300px;
  background-color: var(--bg-secondary);
}
.loginFormOne h1 {
  color: var(--color-primary);
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  word-wrap: normal;
  background-color: var(--bg-secondary);
}

/* form */
.login {
  width: 100vw;
  height: 720px;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.loginFormTwo {
  width: 350px;
  height: 350px;
  display: flex;
  padding: 15px 0;

  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
  border-radius: 10px;

  box-shadow: 1px 3px 7px var(--border-color);
  text-align: center;
}

.messageContainer {
  height: 5px;
  margin: 5px 0 0 0;
    width: 98%;
  
    color: black;
  
display: flex;
align-items: center;
justify-content: center;
   
  

}
.messageContainerCreate{
height: 5px;
margin: 15px 0 10px 0;
  width: 98%;
 
  position: relative;
  color: black;


}


.messageP {
  margin: 0;
  position: absolute;
  text-align: center;
  width: fit-content;
  background-color: var(--bg-message);
  font-family: Geneva, Tahoma, sans-serif;
  color: var(--color-primary);
  font-size: 16px;
  padding: 0 1px 0 1px;
}

.loginFormTwo input {
  width: 93%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline: none;
  padding-left: 0.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 50;
  background-color: var(--bg-primary);
  color: var(--color-secondary);
}
.loginFormTwo input::placeholder {
  color: var(--color-secondary);
}

input:focus:invalid {
  outline: none;
  border: rgb(185, 184, 184) 2px solid;
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
    no-repeat 95% 50%;
  background-size: 25px;
}

.btnLogin {
  height: 50px;
  max-width: 370px;
  background-color: var(--blue-color);
  border-radius: 5px;
  box-shadow: none;
  margin: 7px 0 0 0;
  font-weight: 800;
  color: white;
}
.btnLogin:hover {
  background-color: var(--blue-color-shadow);
}
.textForgotPassword {
  font-size: 14px;
  margin: 15px 0px 15px 0;
  font-weight: 400;
  color: var(--blue-color);
  background-color: var(--bg-always-whiteish);
}
.textForgotPassword:hover {
  color: var(--blue-color-shadow);
}
.hr {
  height: 2px;
  width: 330px;

  margin: 5px 0 25px 0;
  border-bottom: 1px solid var(--divider);
}

.btnCreate {
  margin: 0 0 10px 0;
  width: 65%;
  height: 50px;
  box-shadow: none;
  max-width: 200px;
  background-color: var(--green-color);
  color: white;
}
.btnCreate:hover {
  background-color: var(--green-color-shadow);
}
.textInfoBusiness {
  margin: 25px 0 0 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  background-color: var(--bg-secondary);
  color: var(--color-secondary)
  
}
.textInfoBusiness span {
  background-color: var(--bg-secondary);
  font-weight: 600;
}

/* Create -component */

.create-wrap{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;
}
.create {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.createForm {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background-color: var(--bg-primary);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 2px 2px 2px var(--border-color);
  text-align: center;
  margin-bottom: 0px;
  
 
}


.createFormOne {
  width: 350px;
  height: 200px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: var(--bg-secondary);
}
.createFormOne img {
  margin-top: 15px;

  width: 300px;
  background-color: var(--bg-secondary);
}
.createFormOne h1 {
  color: var(--color-primary);
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  word-wrap: normal;
  background-color: var(--bg-secondary);
}

.createForm input,
button {
  width: 94%;
  height: 50px;
  max-height: 60px;
  max-width: 750px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  outline: none;
  padding-left: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 50;
  background-color: var(--bg-primary);
  color: var(--color-secondary);
}
.createForm input::placeholder {
  color: var(--color-secondary);
  
 
}

.createRadio {
  height: 50px;
  width: 100%;
  margin: 0 0 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

  background-color: var(--bg-primary);
}
.radio-item {
  background-color: var(--bg-primary);
}
.createRadio input,
.createRadio label {
  height: 15px;
  box-shadow: none;
  background-color: var(--bg-primary);
  color: var(--color-third);
}

.btnSignUp {
  margin-top: 20px;
  width: 55%;
  max-width: 250px;
  height: 50px;
  background-color: var(--blue-color);
  border-radius: 7px;
  font-weight: 800;
  color: white;
}
.btnSignUp:hover {
  background-color: var(--blue-color-shadow);
}

.btnCreateContainer {
  display: flex;
  flex-direction: column;
  width: 94%;
  background-color: var(--bg-primary);
  height: 180px;

  justify-content: end;
  align-items: flex-end;
}

.btnLoginCreate {
  margin: 15px 0 15px 0;
  height: 50px;
  width: 40%;
  max-width: 150px;
  background-color: var(--green-color);
  color: white;
}
.btnLoginCreate:hover {
  background-color: var(--green-color-shadow);
}

.divPYear {
  height: 15px;
  width: 93%;
  margin: 10px 0 5px 0;
  text-align: left;
}

.divPYear p {
  background-color: var(--bg-primary);
  color: var(--color-third);
}

/* POPUP -User successfully created */

.popUp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  top:220px;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
 border-radius: 10px;
  width:350px;
  
  background-color: var(--shadow-1);
}
.popUp h1 {
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 1px var(--shadow-3);
  font-size: 2rem;
}

@media (min-width: 1023px) {
  .login {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
  }

  .loginFormOne {
    width: 500px;
    margin-right: 50px;
    align-items: flex-start;

    text-align: left;
  }
  .loginFormOne img {
    margin: 0px 0 0px -35px;
  }
  .loginFormOne h1 {
    color: var(--color-primary);
    font-size: 30px;
  }
}
